<div ui-view>
    <div class="container">
        <div class="jumbotron">
            <h1>Applicant Tracking System</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <form name="loginForm" ng-submit="login()" class="form-inline">
                Username: <input ng-model="username"  name="email" class="span2" type="text" placeholder="Email">
                Password: <input ng-model="password" name="passwd" class="span2" type="password" placeholder="Password">
                <button type="submit" class="btn" ng-click="login()">Sign in</button>
            </form>
        </div>
        <hr>

        <footer>
            <p>Some Footer Text</p>
        </footer>

    </div> <!-- /container -->
</div>